@charset "UTF-8";

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SofiaPro;
  font-display: swap;
  src: url("../fonts/SofiaProBold.woff2") format("woff2"), url("../fonts/SofiaProBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SofiaPro;
  font-display: swap;
  src: url("../fonts/SofiaProMedium.woff2") format("woff2"), url("../fonts/SofiaProMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-btn:before {
  content: "\e908";
  color: #fff;
}

._icon-burger:before {
  content: "\e905";
  font-size: 1.5rem;
}

._icon-close:before {
  content: "\e906";
  font-size: 1.5rem;
}

._icon-close-arrow-back:before {
  content: "\e907";
  font-size: 1.5rem;
}

._icon-cart:before {
  content: "\e900";
}

._icon-help:before {
  content: "\e901";
}

._icon-like:before {
  content: "\e902";
}

._icon-search:before {
  content: "\e903";
}

._icon-user:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "CircularStd", sans-serif;
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "CircularStd", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

*:active,
*:hover,
*:focus,
*:focus-visible {
  outline: 0;
  outline-offset: 0;
  border: none;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 10px;
  min-height: 100px;
  background-color: #fff;
  z-index: 999;
}

@supports (padding-top: clamp( 1.25rem , 0.797826087rem  +  2.2608695652vw , 2.875rem )) {
  .header {
    padding-top: clamp( 1.25rem , 0.797826087rem  +  2.2608695652vw , 2.875rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.797826087rem  +  2.2608695652vw , 2.875rem )) {
  .header {
    padding-top: calc(1.25rem + 1.625 * (100vw - 20rem) / 71.875);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 230px;
}

@supports (width: clamp( 0.0000000625rem , -9.043478181rem  +  45.2173912174vw , 32.5rem )) {
  .header__search {
    width: clamp( 0.0000000625rem , -9.043478181rem  +  45.2173912174vw , 32.5rem );
  }
}

@supports not (width: clamp( 0.0000000625rem , -9.043478181rem  +  45.2173912174vw , 32.5rem )) {
  .header__search {
    width: calc(0.0000000625rem + 32.4999999375 * (100vw - 20rem) / 71.875);
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@supports (gap: clamp( 0.625rem , 0.1032608696rem  +  2.6086956522vw , 2.5rem )) {
  .header__wrapper {
    gap: clamp( 0.625rem , 0.1032608696rem  +  2.6086956522vw , 2.5rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.1032608696rem  +  2.6086956522vw , 2.5rem )) {
  .header__wrapper {
    gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 71.875);
  }
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) {
  .header__actions {
    gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.277173913rem  +  1.7391304348vw , 1.875rem )) {
  .header__actions {
    gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 71.875);
  }
}

.header-action {
  font-size: 1.25rem;
}

.header-action__like,
.header-action__cart,
.header-action__user {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-action__like {
  position: relative;
  z-index: 10;
}

.like-counter {
  position: absolute;
  top: -10px;
  left: -12px;
  color: red;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-box__button {
  font-size: 1.25rem;
  padding-right: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-box__input {
  width: 100%;
  padding: 5px;
  border-radius: 12px;
}

.search-box__input:focus-visible {
  outline: 2px solid #F4DE4D;
}

.menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 88;
}

.menu-body .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}

.menu-body .menu-item-home {
  display: none;
}

.menu-body .menu > ul > li i {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.menu-body .menu > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  letter-spacing: 0.15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-body .menu > ul > li > a i {
  color: #C40B0B;
  font-size: 1.25rem;
}

.menu-body .menu > ul > li .menu-subs {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 1.75rem;
  padding: 1rem 2rem;
  z-index: 109;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  border-top: 3px solid #F4DE4D;
  background: #fff;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-body .menu > ul > li .menu-subs > ul > li {
  line-height: 1;
}

.menu-body .menu > ul > li .menu-subs > ul > li > a {
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  color: #000;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu-body .menu > ul > li .menu-subs > ul > li > a:hover {
  color: #F4DE4D;
}

.menu-body .menu > ul > li .menu-column-1 {
  min-width: 16rem;
  max-width: 20rem;
}

.menu-body .menu > ul > li:hover > a {
  color: #F4DE4D;
}

.menu-body .menu-mobile-header,
.menu-body .menu-mobile-toggle {
  font-size: 1.875rem;
  display: none;
}

.menu__button {
  display: none;
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.page {
  padding-top: 57px;
}

.sidebar {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  position: fixed;
  top: 145px;
  width: 200px;
  z-index: 150;
  padding-bottom: 20px;
}

.sidebar__title {
  font-size: 1.875rem;
  line-height: 1.5666666667;
  font-weight: 700;
  margin: 0px 0px 45px 0px;
}

.sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__item:not(:last-child) {
  margin: 0px 0px 27px 0px;
}

.sidebar__item--help {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 27px;
}

@supports (margin-top: clamp( 0.0000000625rem , -5.9130433984rem  +  29.5652173043vw , 21.25rem )) {
  .sidebar__item--help {
    margin-top: clamp( 0.0000000625rem , -5.9130433984rem  +  29.5652173043vw , 21.25rem );
  }
}

@supports not (margin-top: clamp( 0.0000000625rem , -5.9130433984rem  +  29.5652173043vw , 21.25rem )) {
  .sidebar__item--help {
    margin-top: calc(0.0000000625rem + 21.2499999375 * (100vw - 20rem) / 71.875);
  }
}

.sidebar__item--help::before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -10px;
  left: 0px;
  font-size: 1.125rem;
  width: 40px;
  height: 40px;
  background: #F6F6F6;
  border-radius: 50%;
}

.sidebar__link {
  font-family: "SofiaPro", sans-serif;
  line-height: 1.4117647059;
  font-weight: 500;
  padding-left: 12px;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.gallery {
  position: relative;
  padding-bottom: 100px;
  padding-left: 235px;
  top: 70px;
  height: 100%;
}

.gallery__wrapper {
  display: -ms-grid;
  display: grid;
  padding: 20px 0;
  gap: 20px;
      grid-template-areas: "h1 h1 v1 v2" "h2 h2 v1 v2" "v3 v4 h3 h3" "v3 v4 h4 h4";
}

.gallery__item {
  display: block;
  overflow: hidden;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  will-change: transform;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.gallery__item img {
  width: 100%;
  height: 100%;
}

.gallery__item--v1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: v1;
}

.gallery__item--v2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: v2;
}

.gallery__item--v3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: v3;
}

.gallery__item--v4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: v4;
}

.gallery__item--h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h1;
}

.gallery__item--h2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h2;
}

.gallery__item--h3 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: h3;
}

.gallery__item--h4 {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: h4;
}

.gallery__item--v1 img,
.gallery__item--v2 img,
.gallery__item--v3 img,
.gallery__item--v4 img {
  position: relative;
}

.go-like {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}

@supports (width: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
  .go-like {
    width: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem );
  }
}

@supports not (width: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
  .go-like {
    width: calc(1.875rem + 0.625 * (100vw - 20rem) / 71.875);
  }
}

@supports (height: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
  .go-like {
    height: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem );
  }
}

@supports not (height: clamp( 1.875rem , 1.7010869565rem  +  0.8695652174vw , 2.5rem )) {
  .go-like {
    height: calc(1.875rem + 0.625 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem )) {
  .go-like {
    font-size: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem )) {
  .go-like {
    font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 71.875);
  }
}

@supports (top: clamp( 0.3125rem , 0.0516304348rem  +  1.3043478261vw , 1.25rem )) {
  .go-like {
    top: clamp( 0.3125rem , 0.0516304348rem  +  1.3043478261vw , 1.25rem );
  }
}

@supports not (top: clamp( 0.3125rem , 0.0516304348rem  +  1.3043478261vw , 1.25rem )) {
  .go-like {
    top: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

@supports (right: clamp( 0.3125rem , 0.0516304348rem  +  1.3043478261vw , 1.25rem )) {
  .go-like {
    right: clamp( 0.3125rem , 0.0516304348rem  +  1.3043478261vw , 1.25rem );
  }
}

@supports not (right: clamp( 0.3125rem , 0.0516304348rem  +  1.3043478261vw , 1.25rem )) {
  .go-like {
    right: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

.like-active {
  color: red;
}

@media (min-width: 47.99875em) {
  .menu-body .menu-list {
    padding: 0 30px;
  }

  .menu-body .menu-link {
    position: relative;
  }

  .menu-body .menu-link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    -o-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .menu-body .menu > ul > li.menu-item-has-children:hover .menu-subs {
    margin-top: 0.5rem;
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 47.99875em) and (hover: hover) and (pointer: fine) {
  .menu-body .menu-link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@media (min-width: 91.875em) {
  .page {
    min-height: 100vh;
  }
}

@media (min-width: 600px) {
@supports (width: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 2.5rem )) {
    .go-like {
      width: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 2.5rem );
    }
}

@supports not (width: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 2.5rem )) {
    .go-like {
      width: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 71.875);
    }
}

@supports (height: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 2.5rem )) {
    .go-like {
      height: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 2.5rem );
    }
}

@supports not (height: clamp( 1.5625rem , 1.3016304348rem  +  1.3043478261vw , 2.5rem )) {
    .go-like {
      height: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 71.875);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem )) {
    .go-like {
      font-size: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem )) {
    .go-like {
      font-size: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 71.875);
    }
}

@supports (top: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
    .go-like {
      top: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem );
    }
}

@supports not (top: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
    .go-like {
      top: calc(0.625rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}

@supports (right: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
    .go-like {
      right: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem );
    }
}

@supports not (right: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
    .go-like {
      right: calc(0.625rem + 0.625 * (100vw - 20rem) / 71.875);
    }
}
}

@media (max-width: 950px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

@supports (width: clamp( 0.0000000625rem , -3.9999999201rem  +  19.999999913vw , 14.375rem )) {
    .header__logo {
      width: clamp( 0.0000000625rem , -3.9999999201rem  +  19.999999913vw , 14.375rem );
    }
}

@supports not (width: clamp( 0.0000000625rem , -3.9999999201rem  +  19.999999913vw , 14.375rem )) {
    .header__logo {
      width: calc(0.0000000625rem + 14.3749999375 * (100vw - 20rem) / 71.875);
    }
}

  .header__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding-top: 20px;
  }

  .search-box__input {
    border: 2px solid #F4DE4D;
  }
}

@media (max-width: 600px) {
  .sidebar {
    position: static;
  }

  .sidebar__list {
    padding-bottom: 100px;
  }

  .sidebar__item {
    padding-left: 15px;
  }

  .sidebar__item:first-child {
    padding-top: 30px;
  }

  .sidebar__item:last-child {
    margin-left: 15px;
  }

  .sidebar__link {
    width: 400px;
  }

  .sidebar__link:active {
    color: #F4DE4D;
  }

  .gallery {
    position: static;
    padding-left: 0px;
  }
}

@media (max-width: 61.99875em), (max-height: 61.99875em) {
  .sidebar__title {
    margin: 0px 0px 15px 0px;
  }

  .sidebar__item--help {
    margin-top: 0;
  }

  .sidebar__item--help::before {
    background: transparent;
    left: -5px;
  }
}

@media (max-width: 61.99875em) {
  .gallery__wrapper {
    margin: 0 auto;
        grid-template-areas: "h1 h1 v1" "h2 h2 v1" "v2 v3 v4" "v2 v3 v4" "h3 h3 h3" "h4 h4 h4";
  }

@supports (width: clamp( 0.0000000625rem , -19.6521738332rem  +  98.2608694783vw , 70.625rem )) {
    .gallery__wrapper {
      width: clamp( 0.0000000625rem , -19.6521738332rem  +  98.2608694783vw , 70.625rem );
    }
}

@supports not (width: clamp( 0.0000000625rem , -19.6521738332rem  +  98.2608694783vw , 70.625rem )) {
    .gallery__wrapper {
      width: calc(0.0000000625rem + 70.6249999375 * (100vw - 20rem) / 71.875);
    }
}
  .gallery__item--v1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }
  .gallery__item--v2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .gallery__item--v3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }
  .gallery__item--v4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }
  .gallery__item--h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .gallery__item--h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .gallery__item--h3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .gallery__item--h4 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media (max-width: 47.99875em) {
  .menu-body .menu-list {
    overflow-y: scroll;
  }

  .menu-body .menu-item-home {
    display: block;
  }

  .menu__button {
    text-align: center;
    display: block;
    padding-top: 50px;
  }

  .header__button {
    display: none;
  }

  .menu-body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 100;
  }

  .menu-body .menu-mobile-toggle {
    position: relative;
    display: block;
    cursor: pointer;
    background: none;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }

  .menu-body .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 111;
    overflow: hidden;
    background: #fff;
    -webkit-transform: translate(-100%);
        -ms-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .menu-body .menu.active {
    -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
            transform: translate(0%);
  }

  .menu-body .menu > ul > li {
    display: block;
    line-height: 1;
    margin: 0;
  }

  .menu-body .menu > ul > li > a {
    display: block;
    line-height: 3.125rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .menu-body .menu > ul > li > a i.ion {
    position: absolute;
    font-size: 1.25rem;
    line-height: 3.125rem;
    top: 0;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .menu-body .menu .menu-mobile-header {
    position: relative;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    height: 3.125rem;
    z-index: 110;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  .menu-body .menu .menu-mobile-header .menu-mobile-arrow {
    display: none;
  }

  .menu-body .menu .menu-mobile-header.active .menu-mobile-arrow {
    display: block;
    font-size: 1.25rem;
    line-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .menu-body .menu .menu-mobile-header .menu-mobile-title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color: #000;
    text-transform: capitalize;
  }

  .menu-body .menu .menu-mobile-header .menu-mobile-close {
    font-size: 2.25rem;
    line-height: 3.125rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
  }

  .menu-body .menu .menu-list {
    display: block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu-body .menu > ul > li .menu-subs {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .menu-body .menu > ul > li .menu-subs.active {
    display: block;
  }

  .menu-body .menu > ul > li .menu-subs > ul > li > a {
    display: block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .gallery__wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
        grid-template-areas: "h1 h1" "h2 h2" "v1 v2" "v1 v2" "v3 v4" "v3 v4" "h3 h3" "h4 h4";
  }

  .gallery__item--v1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  .gallery__item--v2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }

  .gallery__item--v3 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  .gallery__item--v4 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
  }

  .gallery__item--h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .gallery__item--h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .gallery__item--h3 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .gallery__item--h4 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .menu-body .menu > ul > li > a {
    font-family: "SofiaPro", sans-serif;
    line-height: 1.4117647059;
    font-weight: 700;
    padding-left: 12px;
    font-size: 1.0625rem;
    padding-left: 18px;
  }
}

@media (any-hover: hover) {
  .header-action__like:hover,
  .header-action__cart:hover,
  .header-action__user:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #F4DE4D;
  }

  .header-action__like:active,
  .header-action__cart:active,
  .header-action__user:active {
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
  }

  .search-box__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #F4DE4D;
  }

  .search-box__button:active {
    -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
  }

  .menu-body .menu > ul > li:hover a i {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .sidebar__link:hover {
    color: #F4DE4D;
  }

  .gallery__item img {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .gallery__item img:hover {
    -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
            transform: scale(1.09);
  }

  .go-like {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .go-like:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .go-like:active {
    -webkit-transform: translate(0px, -5px);
        -ms-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
    font-size: 0.9375rem;
  }
}